{% extends "base.html" %} {% block content %}


<h1 class="text-white">Wheaton FSC Apparel & Swag</h1>
<div class="container">
    <div class="row">
        <div class="col-md">
            <img src="static/Wheaton-FSC-Mondor-Jacket-4483.png" class="img-fluid">

        </div>
        <div class="col-md">
            Wheaton FSC team apparel and swag are now available at our team store on
            <a href="http://www.personaliteez.com/Wheaton-FSC-s/2268.htm" target="_blank" rel="noopener noreferrer"
                style="color:cornflowerblue"> Personaliteez</a>. Available items
            include team jackets, sweatshirts, warm up pants, and more. Show you team spirit while staying warm!
        </div>
    </div>
</div>

{% endblock %}