{% extends "base.html" %} {% block content %}

<h2 class="display-5 text-white">Membership</h2>
<p class="lead my-3">
    The Wheaton Figure Skating Club processes all membership via our
    <a href="http://comp.entryeeze.com/Membership/Welcome.aspx?cid=294" target="_blank" rel="noopener noreferrer"
        style="color:cornflowerblue">online
        membership portal</a>.
</p>
<p class="lead my-3">
    For any questions regarding Membership, please contact us at
    <a style="color:cornflowerblue" href="mailto:WheatonFSC@gmail.com">WheatonFSC@gmail.com</a>.
</p>
{% endblock %}