{% extends "base.html" %} {% block content %}
<div>
    <h2 class="display-5">Testing Session Information</h2>


    <p>Please use our <a href="http://comp.entryeeze.com/Membership/Welcome.aspx?cid=294" style="color:cornflowerblue"
            target="_blank" rel="noopener noreferrer">membership portal</a> to
        register for the test sessions. If you have additional questions please <a
            href="mailto:WheatonFSCTestChair@gmail.com" style="color:cornflowerblue">contact the test chair</a>.
    </P>

    <h3>Upcoming Test Sessions</h3>

    <p>
        Out next test session will be <strong style="color:white"> Monday June 14, 2021 at 9am</strong>.
        <a href="http://comp.entryeeze.com/Membership/Welcome.aspx?cid=294" style="color:cornflowerblue" target="_blank"
            rel="noopener noreferrer">Registration is now open.</a>
    </p>

    <h3>Registration</h3>

    <ul>
        <li>Priority goes to home club members who submit before deadlines. All others (including home club members who
            missed application deadline) are on a first come, first serve basis.</li>
        <li>When registering for a test, you are committing to be able to test at anytime during the scheduled test
            session.</li>
        <li>Scheduling is dependent upon judge availability and the number of skaters registered for each test level.
        </li>
        <li>If you are unable to attend the test session after you have registered, notify test chair immediately.</li>
        <li>If you are not a home club member, you must have a Permission to Test letter from your club in order to
            test.</li>
        <li> Coaches, including partnering pros and coaches of non-home club members must be CER compliant via USFSA in
            order to coach/partner at our test sessions.</li>
        <li>Results will be provided at the first break following each group. Copies will be provided and originals will
            stay with the club.</li>
    </ul>

    <h3>Scheduling</h3>

    <ul>
        <li>A request to switch to an alternate session without paying multiple fees may be honored if received 3 weeks
            prior to original test date AND if space is available.</li>
        <li>Requests for specific test time must be submitted at least 3 weeks before the test date and will not be
            guaranteed.</li>
        <li>After the test schedule is posted, no time changes will be permitted.</li>
        <li>Test schedules will be posted a week before the test on this website and emailed to all skaters and coaches
            at the address given on the application form.</li>
        <li>Skaters must arrive for the test at least one hour prior to your scheduled warm-up time. If we are ahead of
            schedule and you are not available for your test we may not be able to fit you in later</li>
    </ul>

    <h3>Fees</h3>

    Test fees are non-refundable. Exceptions include if chair requests skater to move to alternate date and skater
    is unable to attend that session, or due to illness/injury.

</div>
{% endblock %}