{% extends "base.html" %} {% block content %}

<h2 class="display-5 text-white">Volunteering</h2>

<img src="static/volunteer2.png" class="img-fluid" />

<p class="lead my-3">
    The Wheaton Figure Skating Club is completely run by volunteers. Parents, skaters, friends,
    we need you! Volunteers will assist with our
    test sessions, special events, ice monitoring, music, hospitality, club operations, and much, much more.
</p>
<p class="lead my-3">
    Please contact us at <a href="mailto:WheatonFSC@gmail.com" style="color:cornflowerblue">WheatonFSC@gmail.com</a> for
    more information.
</p>

{% endblock %}